.App {
  text-align: center;
  /* background-color: grey; */
  min-height: 100vh;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.formContainer {
  display: flex;
}
.Menu {
  width: 25%;
}
